* {
  margin: 0;
  padding: 0;	
}

#word-container {
  font-size: 36px;
  letter-spacing: 3px;
}

#block {
  margin-top: 10px;
  width: 30px;
  height: 35px;
  background-color: yellow;
}

.keyboard-container {
  margin-top: 200px;
}

#next-letter {
  font-size: 38px;  
}

.keys-row {
  margin-top: 40px;
  padding: 10px 0;
}

#words-typed {
  font-size: 20px;
}
.glyphicon-ok {
  color: #1DA237
}

.glyphicon-remove {
  color : #CD2626
}

